* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(195, 223, 226);
  color: white;
  font: normal 16px Helvetica, Arial, Sans-serif;
}

main {
  min-width: 500px;
  max-width: 1000px;
  background-color: salmon;
  padding: 20px;

}

main::after {
  clear: both;
  content: "";
  display: block;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

img {
  display: block;
  width: 100%;
}

figure img {
  box-sizing: border-box;
  border: 10px solid white;
}

figcaption {
  padding: 5px 0 20px 0;
}

ul {
 
  font-size: 0;
  margin: 0 -15px;

}


li {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  list-style-type: none;
  width: 25%;
  float: left;
  
}

li img {
  box-sizing: border-box;
  border: 5px solid white;
}

